<launch>

<!-- arguments are set via terminal and can have a default value -->
<arg name="robot_name" default="thymio0" />

<!-- nodes are exectued -->
<node pkg="myT_group_K" name="controller_3" type="controller_3" output="screen">
    <!-- paramters must be set in the launchfile -->
    <param name="robot_name" value="/$(arg robot_name)" />
</node>

</launch>
